body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

button,
a {
    cursor: pointer;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    padding: 0 16px;
    margin: 0 auto;
}


/* mobil */
.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: inherit;
}


/* HEADER */
/* Logo */

.logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

    /* margin-right: 76px; */
}

.logo-span {
    color: #2E2F42;
}

/* /Logo */

/* Navigation */



.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    border-bottom: 1px solid #E7E9FC;
    box-shadow:
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    min-width: 320;
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px 0;
}

.menu-nav {
    display: none;
    align-items: center;
}

.nav-elements {
    display: flex;
    gap: 40px;
}

.nav-link {
    padding: 24px 0;
}

.nav-item {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link {
    display: block;
    padding: 24px 0;
    position: relative;
    color: #2E2F42;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.active {
    color: #404BBF;
}

.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 48px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

.contacts {
    display: none;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-link {
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}


/* /Navigation */
/* ///HEADER */

/* Hero - Section */

.hero {
    background-color: #2e2f42;
    padding-top: 72px;
    /* mobil */
    padding-bottom: 72px;
    /* mobil */
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)),
        url('../images/people-office.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 320px;
    max-width: 1440px;
}

.hero-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    width: 180px;
    margin: 0 auto 48px auto;
}

.hero-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 0.04em;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;

    padding: 16px 32px;
    display: block;
    margin: 0 auto 0 auto;

    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF
}

/* /////Hero - Section  */

/* Content */

.second-title {
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.third-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.content {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Benefits !!!!!!!!!!*/

/* mobil */
.benefits-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* mobil */
.benefits-text {
    color: var(--SLATE, #434455);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}


.benefits-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    padding: 24px 100px;
    margin-bottom: 8px;


    /* visually-hidden */

    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.benefits-list {
    display: flex;
    gap: 72px;
    align-items: center;
}

.benefits-list-item {
    max-width: 288px;
}

/* ////Benefits */

/* TEAM */

.team {
    background-color: #F4F4FD;
}

.team-name {
    color: #2E2F42;
}

.team-content {
    padding: 32px 0;
    text-align: center;
    background-color: #ffffff;
}

.team-text {
    margin-bottom: 8px;
}

.team-list {
    display: flex;
    gap: 72px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.team-list-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.social-icon-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-icon-svg {
    fill: #F4F4FD;
}

.team-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
    background-color: #404bbf;
}

/* ////TEAM */

/* PORTFOLIO */

.portfolio-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content {
    border-left: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.payment-overlay {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.payment-overlay-text {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 100%;
    height: 100%;
    flex-shrink: 0;
    background-color: #4D5AE5;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .payment-overlay-text,
.portfolio-list-item:focus .payment-overlay-text {
    transform: translateY(0);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow:
        0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* ////PORTFOLIO */

/* ///Content */


/* Footer */


.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;

}


/* FOOTER CONTANT */

.footer-content {
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.footer-description {
    max-width: 288px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #f4f4fd;
}

.footer-logo {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: left;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-icon {
    fill: #f4f4fd;
}

.footer-logo-item {
    color: #f4f4fd;
}

/* ////FOOTER CONTANT */


/* FOOTER SOCIALS */

.footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-title {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.footer-socials-list {
    flex-direction: row;

    gap: 16px;
}

.footer-socials-item {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #4D5AE5;
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: #31D0AA;
}

.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ///FOOTER SOCIALS */


/* FOOTER SUBSCRIBE */

.footer-subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}


.footer-input-email {
    width: 288px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #FFFFFF;
    opacity: 0.6;
    background-color: transparent;
    padding-left: 16px;

    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;

}

input::placeholder {
    color: #FFFFFF;
}


.subscribe-btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 165px;
    padding: 8px 24px;

    color: #FFFFFF;
    text-align: center;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.subscribe-btn-link:hover,
.subscribe-btn-link:focus {
    background-color: #404bbf;
}

.send-icon-svg {
    fill: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}


/* ////FOOTER SUBSCRIBE */



/* MODAL OVERLAY */

.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    height: 620px;
    background: #FCFCFC;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    position: absolute;

    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    fill: #2E2F42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
    fill: #ffffff;
}

.close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-text {
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.form-container {
    margin-bottom: 8px;
}

.form-label {
    font-size: 12px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-fild {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-svg:focus,
.icon-svg:hover,
.input-fild:focus,
.input-fild:focus+.icon-svg,
.textarea-container:focus,
.input-comment:focus {
    border-color: #4D5AE5;
    fill: #4D5AE5;
}

.icon-svg {
    position: absolute;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-container {
    margin-bottom: 16px
}

.input-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-policy-text {
    color: #4D5AE5;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.checkbox-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.checkbox-text .checkbox-icon {
    background-color: #404bbf;
    fill: #f4f4fd;
}

.checkbox:focus+.checkbox-text .checkbox-icon {
    border: 2px solid #404bbf;
}

.form-submit-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-container {
    position: relative;
    margin-bottom: 24px;
}


/* ////MODAL OVERLAY */


/* BURGER MENU */

.burger-overlay {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.burger-modal-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 72px 16px 40px 16px;
    height: 100%;
}

.burger-menu-btn {
    background-color: var(--WHITE, #FFF);
    display: flex;
    align-items: center;
    justify-content: center;

}

.burger-menu-btn-icon {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.burger-close-btn {
    background-color: #ffffff;
}

.burger-navigation-list {
    display: flex;
    gap: 40px;
}

.burger-navigation-item {
    color: var(--NAVY-BLUE, #2E2F42);

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.burger-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.burger-contacts-item {
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.burger-social-list {
    display: flex;

    gap: 40px;
    max-width: 280px;
}

.burger-contacts-item:hover {
    color: var(--IRIS, #4D5AE5);
}

.burger-navigation-item:hover {
    color: var(--OCEAN, #404BBF);
}




/* VISUALITY HIDDEN / OPEN */

.visually-hidden {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* //////VISUALITY HIDDEN / OPEN */

@media (min-width: 768px) and (max-width: 1157px) {
    .container {
        width: 768px;
    }

    ul,
    ol {
        flex-direction: row;
    }

    /* NAV */
    .menu-nav {
        display: flex;
        align-items: center;
    }

    .contacts {
        display: flex;
    }

    .contacts-list {
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        padding: 6px 0;
    }

    .burger-menu-btn {
        display: none;
    }

    /* ///NAV */

    .hero-title {
        width: 496px;

        text-align: center;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--WHITE, #FFF);
    }

    .benefits-title {
        text-align: start;
    }


    .benefits-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .benefits-list-item {
        /* width: 356px; */
        width: calc((100% - 24px) / 2);
    }

    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 64px;
        max-width: 1157px;

    }

    .team-list-item {
        width: 264px; 
    }

    .portfolio-list {
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-list-item {
      width: 356px;
    }


    /* FOOTER */
    .footer-container {
        
        flex-direction: row;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }



    /* //FOOTER */

}